
@{
    ViewBag.Title = "CreateClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kulüp Kaydı</h2>

<form method="post" class="form-group">
    <div>
        <label>Kulüp Adı</label>
        <input type="text" class="form-control" name="clb_name" />
    </div>
    <br />
    <div>
        <button class="btn btn-success">Kaydet</button>
    </div>
</form>