@model StudentNoteMVC.Models.EntityFramework.tbl_clubs

@{
    ViewBag.Title = "Öğrenci Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Ekle</h2>

<form method="post" class="form form-group">
    <div class="form-group">
        <label for="firstName">Ad</label>
        <input type="text" id="firstName" name="std_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="lastName">Soyad</label>
        <input type="text" id="lastName" name="std_surname" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="photo">Fotoğraf</label>
        <input type="text" id="photo" name="std_photo" class="form-control">
    </div>
    <div class="form-group">
        <label for="gender">Cinsiyet</label>
        <select id="gender" name="std_gender" class="form-control" required>
            <option value="true">Erkek</option>
            <option value="false">Kadın</option>
        </select>
    </div>
    @*<div class="form-group">
            <label for="club">Kulüp</label>
            <select id="club" name="std_clb_id" class="form-control" required>
                @foreach (var club in ViewBag.Clubs)
                {
                    <option value="@club.Value">@club.Text</option>
                }
            </select>
        </div>*@
<div class="form-group">
    <label for="club">Kulüp</label>
    @*@Html.DropDownList("Clubs", null, "Kulüp Seçin", new { @class = "form-control" })*@
    @Html.DropDownList("std_clb_id", ViewBag.Clubs as SelectList, "Kulüp Seçin", new { @class = "form-control"})

</div>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
