@model List<StudentNoteMVC.Models.EntityFramework.tbl_clubs>

@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Ekle</h2>

<form method="post" class="form form-group">
    <div class="form-group">
        <label for="firstName">Ad</label>
        <input type="text" id="firstName" name="std_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="lastName">Soyad</label>
        <input type="text" id="lastName" name="std_surname" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="photo">Fotoğraf</label>
        <input type="number" id="photo" name="std_photo" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="gender">Cinsiyet</label>
        <input type="text" id="gender" name="std_gender" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="club">Kulüp:</label>
        <select id="club" name="std_clb_id" class="form-control" required>
            @foreach (var club in Model)
            {
                <option value="@club.clb_id">@club.clb_name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
