@using StudentNoteMVC.Models.EntityFramework
@model List<tbl_classes>
@{
    ViewBag.Title = "Dersler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dersler Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ders Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><strong> @item.cls_id </strong></td>
                <td>@item.cls_name</td>
                <td><a href="/Classes/UpdateClass/@item.cls_id" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Classes/DeleteClass/@item.cls_id" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Classes/CreateClass" class="btn btn-primary">Yeni Ders Ekle</a>